
Firmware/SBC_Cluster_Controller.X/nbproject/Makefile-*
Firmware/SBC_Cluster_Controller.X/nbproject/Package-*
Firmware/SBC_Cluster_Controller.X/build/*
Firmware/SBC_Cluster_Controller.X/disassembly/*
Firmware/SBC_Cluster_Controller.X/dist/*
!Firmware/SBC_Cluster_Controller.X/dist/default
Firmware/SBC_Cluster_Controller.X/dist/default/*
!Firmware/SBC_Cluster_Controller.X/dist/default/production
Firmware/SBC_Cluster_Controller.X/dist/default/production/*
!Firmware/SBC_Cluster_Controller.X/dist/default/production/SBC_Cluster_Controller.X.production.hex
Firmware/SBC_Cluster_Controller.X/nbproject/private/*
.vscode/settings.json
